@import "tailwindcss"; /* Tailwind always comes first */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

/* Global font */
* {
  font-family: "Outfit", sans-serif;
}

/* Custom theme variables for Tailwind v4 tokens */
@theme {
  --color-primary: #5044e5;
}

.reset-tw ,.reset-tw *{
  all : revert !important
}

.cl-drawerRoot{
  z-index: 10;  
}